@using RemoteControlServer.BusinessLogic.Communicators
@model DeviceViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row-md-12">
        @foreach (ConnectedDevice clientDevice in ViewBag.UserDevices)
        {
            <div class="col-md-6">
                <div class="card rounded-4">
                    <h5 class="card-header">@clientDevice?.Device.DeviceName</h5>
                    <div class="card-body ms-4">
                        <span class="me-1">@clientDevice?.Device.DeviceManufacturer</span>
                        <span class="me-1">@clientDevice?.Device.DevicePlatform</span>
                        <span class="me-1">@clientDevice?.Device.DevicePlatformVersion</span>
                        <span class="me-1">(@clientDevice?.Device.DeviceType)</span>

                        @if (clientDevice.IsConnected)
                        {
                            <span style="font-size:25px;color:green">&#9679;</span>
                        }
                        else
                        {
                            <span style="font-size:25px;color:red">&#9679;</span>
                        }

                        <br/>
                        <a class="btn btn-primary mt-3" href="/device/@clientDevice?.Device.Id/">Команды</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
