@model DeviceFolderViewModel

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover" id="folder">
                        <thead>
                            <tr>
                                <th>Имя</th>
                                <th>Дата создания</th>
                                <th>Дата изменения</th>
                                <th>Размер</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5" class="text-center" id="folderLoader">
                                    <div class="spinner-border text-dark" style="width: 5rem; height: 5rem"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <form id="fileForm" hidden action='/api/deviceapi/DownloadFileForServer' method='post'>
            <input id="deviceId" name="deviceId" value="@Model.UserDevice.DeviceId" />
            <input id="filePath" name="path" />
        </form>

        <form id="dirForm" hidden action='/api/deviceapi/DownloadDirectoryForServer' method='post'>
            <input id="deviceId" name="deviceId" value="@Model.UserDevice.DeviceId" />
            <input id="dirPath" name="path" />
        </form>
    </div>
</div>
    @section Scripts
    {
        <script>
        $(document).ready(function () {
            loadDir("@Model.Path") // window.location.pathname
            window.addEventListener('popstate', function (event) {
                loadDir(window.location.pathname.split("/").slice(3).join("/"))
            });
        })

        function GetFormData(path) {
            if (path.at(-1) != '/') {
                path = path + '/'
                if (window.location.pathname.at(-1) != "/") {
                    window.history.pushState("", "", window.location.pathname + "/")
                }
            }
            if (path[0] != '/') {
                path = "/" + path
            }
            
            var data = new FormData()
            data.append("deviceId", "@Model.UserDevice.DeviceId")
            data.append("path", "root" + path)
            return data
        }

        function loadDir(path) {
            $("#folder tbody tr.clickableRow").remove()
            $("#folder #folderLoader").removeClass("d-none")

            $.ajax({
                url: "/api/deviceapi/GetNestedFilesInfoInDirectoryForServer",
                method: "post",
                contentType: false,
                processData: false,
                data: GetFormData(path),
                success: function (data) {
                    console.log(data.nestedDirectoriesInfo)
                    if (data.nestedDirectoriesInfo != null) {
                        data.nestedDirectoriesInfo.forEach(fillRow)
                    }
                    if (data.nestedFilesInfo != null) {
                        data.nestedFilesInfo.forEach(fillRow)
                    }

                    $("#folder #folderLoader").addClass("d-none")

                    $(".directoryRow").dblclick(function (e) {
                        if ($(e.target).prop("tagName") != "TD") {
                            return;
                        }

                        var dir = ($($(this).children("td")[0]).text())
                        var newPath = path + dir + "/"
                        var addedDeviderForLocation = ""
                        if (window.location.pathname[0] != "/") {
                            addedDeviderForLocation = "/"
                        }

                        window.history.pushState("", "", window.location.pathname + addedDeviderForLocation + dir + "/")
                        loadDir(newPath)
                    })

                    $(".downloadBtn").click(function () {
                        var curBtn = $(this)
                        curBtn.attr("disabled", "disabled")
                        var name = $($(this).parent().parent().children('td')[0]).text()
                        newPath = takePath(path, name)
                        if ($(this).parent().parent().hasClass("directoryRow")) {
                            $("#dirPath").val(newPath)
                            $("#dirForm").submit()
                            return
                        }

                        $("#filePath").val(newPath)
                        $("#fileForm").submit()
                    })
                },
                error: function (jqXHR, exception) {
                    console.log(jqXHR)
                    console.log(exception)
                    $("#folder #folderLoader").addClass("d-none")
                }
            });
        }

        function takePath(oldPath, name) {
            var newPath = oldPath + name;
            if (newPath[0] != '/') {
                newPath = "/" + newPath
            }

            newPath = "root" + newPath
            return newPath;
        }

        //("<tr class='clickableRow " + (d.FileType == "Directory" ? "directoryRow" : (d.FileType == "File") ? "fileRow" : "driveRow") + "'>" +

        function fillRow(d) {
            $("#folder > tbody").append
                ("<tr class='clickableRow " + ((d.fileType == "Directory" || d.fileType == "Drive") ? "directoryRow" : "fileRow") + "'>" +
                    "<td>" + d.name + "</td>" +
                    "<td>" + (d.creationDate == null ? "" : d.creationDate)+ "</td>" +
                    "<td>" + (d.changingDate == null ? "" : d.changingDate) + "</td>" +
                    "<td>" + (d.fileType == "File" ? convertBytesToReadString(d.fileLength) : "") + "</td>" +
                    "<td>" + "<button class='btn btn-dark downloadBtn'>Скачать</button>" + "</td>" +
                    "</tr>")
        }
        
        function convertBytesToReadString(length){
            let res = length;
            let degreeCount = 0;
            while (length.toString().length > 3) {
                degreeCount++;
                if (degreeCount > 5) {
                    break;
                }
                length = Math.floor(length / 1024);
                res /= 1024.0;
            }

            switch (degreeCount) {
                case 0:
                    return res.toFixed(2) + " Б";
                case 1:
                    return res.toFixed(2) + " КБ";
                case 2:
                    return res.toFixed(2) + " МБ";
                case 3:
                    return res.toFixed(2) + " ГБ";
                case 4:
                    return res.toFixed(2) + " ТБ";
                case 5:
                    return res.toFixed(2) + " ПБ";
                default:
                    return "Ту мач бро";
            }
}
    </script>
    }
